{% extends 'base.html.twig' %}

{# {% block title %}Liste des recette{% endblock %} #}
{# {%block title"Liste des Recettes"%} #}
{%block title"show"%}

{% block body %}
{# <h3>bienvenue dans la liste des Recette</h3> #}
<h3>bienvenue dans la page show</h3>
{% endblock %}
